body{
  /* 画像ファイルの指定 */
  background-image: url(images/haikei1.jpg);
   
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
   
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
   
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
   
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
   
  /* 背景画像が読み込まれる前に表示される背景のカラー */

}


*{
  font-family: "ＭＳ Ｐゴシック",sans-serif;
  font-weight: bold
}
 
 
h1{
  font-size: 4.5em;
  
}


h2{
  font-size: 2.6em;
}
 
 
A{
  font-size: 1.4em;
  
}


B{
  font-size: 2em;
  }
  
C{
	line-height: 3.4;
}